<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="http://github.com/cxm6467">Chris</a>
  </p>
  <br />
  <p>
    This is an application that allows one to add quotes and display them at random.  This is the first web application as part of my program
    at the <a target="_blank" href="https://www.thefirehoseproject.com/">firehose project</a>.
  </p>
  <p>
    If you want to learn more about me, find me <a target="_blank" href="https://christophermarasco.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Chris.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Chris Marasco</h2>
      <br />
      <p>
        I am Chris Marasco, a recent graduate of <a target="_blank" href="http://rit.edu">Rochester Institute of Technology</a> with a B.S. in Information Systems and Technologies. I am from Rochester, and love learning new things. I am especially interested in hands-on work within the Systems Administration and Information Technology fields.</p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>